<h2>Kvízek</h2>

<% if (kvizek.length === 0) { %>
    <p>Jelenleg nincs elérhető kvíz.</p>
<% } else { %>
    <ul>
        <% kvizek.forEach(kviz => { %>
            <li>
                <strong><a href="/kviz/<%= kviz.id %>"><%= kviz.nev %></a></strong><br>
                <em><%= kviz.leiras %></em><br>
                Létrehozva: <%= new Date(kviz.letrehozas_datuma).toLocaleDateString("hu-HU") %>
                <% if(locals.currentUser && locals.currentUser["JOGOSULTSAG"] == "admin") { %>
                <a href="/kviz/<%= kviz.id %>/edit">Szerkesztés</a>
                <% } %>
            </li>
        <% }) %>
    </ul>
    
<% } %>

<a href="/kviz/new">+ Új kvíz létrehozása</a>
