<h2>Játékszobák</h2>

<a href="/jatekszoba/new">+ Új játékszoba hozzáadása</a>

<table>
    <thead>
        <tr>
            <th>Név</th>
            <th>Kvíz</th>
            <th>Max. játékos</th>
            <th>Művelet</th>
        </tr>
    </thead>
    <tbody>
        <% if (jatekszobak && jatekszobak.length > 0) { %>
        <% jatekszobak.forEach(szoba => { %>
        <tr>
            <td><a href="/jatekszoba/<%=szoba.ID%>"><%= szoba.NEV %></a></td>
            <td><%= szoba.KVIZ_NEV || "" %></td>
            <td><%= szoba.MAX_JATEKOS %></td>
            <td>
                <a href="/jatekszoba/<%= szoba.ID %>" style="margin-right: 5px;">Részletek/Indítás</a>
                <% if(locals.currentUser && (locals.currentUser["JOGOSULTSAG"] == "admin" || locals.currentUser["ID"] == szoba.FELHASZNALO_ID)) { %>
                <a href="/jatekszoba/<%= szoba.ID %>/edit" style="margin-right: 5px;">Szerkesztés</a>
                <form action="/jatekszoba/<%= szoba.ID %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Törlés</button>
                </form>
                <% } %>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="3">Nincsenek játékszobák</td>
        </tr>
        <% } %>
    </tbody>
</table>