<% 
let temp = null;
let otherPerson = false;
if(locals.user) {
    temp = locals.currentUser;
    locals.currentUser = locals.user;
    otherPerson = true;
} %>

<body>
    <h1>Profil</h1>

    <form method="POST" action="/profile" onsubmit="return validateForm()">
        <label for="username">Felhasználónév:</label><br>
        <input type="text" id="username" name="username" value="<%= locals.currentUser["FELHASZNALONEV"] %>" disabled><br><br>

        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email" value="<%= locals.currentUser["EMAIL"] %>" disabled><br><br>

        <label for="password">Jelszó:</label><br>
        <input type="password" id="password" name="password" disabled><br><br>

        <label for="confirmPassword">Jelszó megerősítése:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" disabled><br><br>

        <label for="birthYear">Születési év:</label><br>
        <input type="number" id="birthYear" name="birthYear" min="1900" max="2025" value="<%= locals.currentUser["SZULETESI_EV"] %>" disabled><br><br>

        <% if(!otherPerson) { %>
        <button type="button" onclick="enableEditing()">Szerkesztés</button>
        <input type="submit" id="saveButton" value="Mentés" disabled>
        <% } %>
    </form>
    <% if (typeof successMessage !== "undefined" && successMessage) { %>
    <div class="alert alert-success" style="color: green; margin-top: 10px;">
        <%= successMessage %>
    </div>
    <% } %>


    <h2>Statisztika</h2>
    <table>
        <thead>
            <th>Kvíz</th>
            <th>Kitöltési idő</th>
            <th>Helyes válaszok aránya</th>
        </thead>
        <tbody>
            <% if(stats) {
            let i = 0; locals.stats.forEach(element => {
                %>
            <tr>
                <td><a href="/kviz/<%= element["KVIZ_ID"] %>"><%= quizes[i]["nev"] %></a></td>
                <td><%= element["ATLAGOS_KITOLTESI_IDO"] %></td>
                <td><%= element["HELYES_VALASZOK_ARANYA"] %></td>
            </tr>
            <%
            i++;});
        }; %>
        </tbody>
    </table>

    <script>
        function enableEditing() {
            const fields = document.querySelectorAll('#username, #email, #password, #confirmPassword, #birthYear');
            fields.forEach(field => field.disabled = false);
            document.getElementById('saveButton').disabled = false;
        }

        function validateForm() {
            const pw = document.getElementById('password').value;
            const confirmPw = document.getElementById('confirmPassword').value;

            if (pw !== confirmPw) {
                alert("A két jelszó nem egyezik meg!");
                return false;
            }

            return true;
        }
    </script>
</body>


<% if(locals.user) {
    locals.currentUser = temp;
} %>